<?php
    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();

    $categoryCollection = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Category\CollectionFactory');
    $productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository');

    $appState = $objectManager->get('\Magento\Framework\App\State');
    $appState->setAreaCode('frontend');

    $productId = $block->getProduct()->getId(); // YOUR PRODUCT ID
    $product = $productRepository->getById($productId);

    $categoryIds = $product->getCategoryIds();

    $categories = $categoryCollection->create()
        ->addAttributeToSelect('*')
        ->addAttributeToFilter('entity_id', $categoryIds);

    foreach ($categories as $category) {
        $name = $category->getName();
        $parentCategories = $category->getParentCategories();
        foreach($parentCategories as $parent){
            $parentname = $parent->getName();
            echo '<a href="'.$parent->getUrl().'" title="'.$parentname.'" alt="'.$parentname.'">';
            echo '<div>'.$parentname.'</div>';
            echo '</a>'; echo ' > ';
        }
        echo '<a href="'.$category->getUrl().'" title="'.$name.'" alt="'.$name.'">';
        echo '<div>'.$name.'</div>';
        echo '</a>';
        if($category->hasChildren()) {
            $subcategories = $category->getChildrenCategories();
            foreach($subcategories as $subcat){
                $subname = $subcat->getName();
                echo ' > ';
                echo '<a href="'.$subcat->getUrl().'" title="'.$subname.'" alt="'.$subname.'">';
                echo '<div>'.$subname.'</div>';
                echo '</a>';
            }
        }
    }