<?php
use Magento\Framework\App\Action\Action;

$product = $block->getProduct();
$id_product = $product->getId();
$dataEclated = $block->getEclateDdata_prod($id_product);
$id_product_detached = [];
$i =0;
$base_img_url = "/magento2/pub/media/catalog/product";
$default_img = "/magento2/pub/static/adminhtml/Magento/backend/fr_FR/Magento_Catalog/images/product/placeholder/thumbnail.jpg";
 echo $product->getdelivery_time();
if (count($dataEclated) > 0){
    echo "<div class='head_list'><span  class='product_name'>".$product->getName()."</span><span class='skui'>-".$product->getSku()."</span></div>";
    foreach ($dataEclated as $product){
        $i++;
    //    array_push($id_product_detached,$product['url_product']); // url_product = id produit detache
        $allproduct = $block->getallproduct_detached($product['url_product'],$i);
    //    print_r($allproduct->debug());
         ?>

        <div class="row rowed1" id="row_<?php echo $product['id_number'] ?>">
            <div class="col-3 product_img_cnt">
                <?php
                if(isset($allproduct['image']) AND $allproduct['image'] !=""){ ?>
                    <img src="<?php echo $base_img_url.$allproduct['image']; ?>" class="w-100 img-fluid img_product_ecl">
                <?php }else{ ?>
                    <img src="<?php echo $default_img; ?>" class="w-100 img-fluid">
                <?php } ?>
                <span class="d-absolute">
                    <?php if ($product['url_product'] == $allproduct['entity_id'] ){
                        echo $product['id_number'];
                    } ?>
                </span>
            </div>
            <div class="col-6">
                <div class="w-100 product_namess" >
                    <?php  echo $allproduct['name']; ?>
                </div>
                <div class="w-100 product_ref" >
                    <span class="ref">Référence: </span> <span class="ref_val"><?php  echo $allproduct['sku']; ?></span>
                </div>
                <div class="row">
                    <?php if ($allproduct['description']){ ?>
                    <div id="desc_<?php echo $allproduct['description']; ?>"  class="more_info w-100">
                        <div style="pos" class="description<?php echo $allproduct['entity_id']?>">
                            <?php echo $allproduct['description']; ?>
                        </div>
                    </div>
                    <?php } ?>
                    <div class="col-5 d-flex">
                        <div class="w-100 product_ref d-flex" >
                            <?php if ($block->getbrandbyproduct($allproduct['entity_id']) !=null){ ?>
                                <img src="<?php echo "http://www.magento1.randevteam.com/magento2/pub/media/".$block->getbrandbyproduct($allproduct['entity_id']);?>" >
                            <?php }else{ ?>

                            <?php } ?>
                        </div>
                    </div>
                     <div class="col-7">
                         <div class="stock_status">
                             <?php if (isset($allproduct['quantity_and_stock_status']['is_in_stock']) && $allproduct['quantity_and_stock_status']['is_in_stock'] == 1 && isset($allproduct['quantity_and_stock_status']['qty']) && $allproduct['quantity_and_stock_status']['qty'] >0 ){ ?>
                                 <span class="stock_txt"> En stock </span>
                             <?php }else{ ?>
                                <span class="stock_txt"> En rupture de stock</span>
                             <?php } ?>
                             <div>
                                 <span class="livraison_txt">Livré 3 jours après reception</span>
                             </div>
                         </div>
                     </div>
                    </div>
            </div>
            <div class="col-3">
                <?php if (isset($allproduct['price'])){ ?>
                    <div class="product_price">
                        <?php
                        echo "<span class='price_txt'>".number_format($allproduct['price'], 2)."</span> <sup class='ttceuro'>€TTC</sup>"
                        ?>
                    </div>
                <?php } ?>
                 <?php if ($allproduct['description']){ ?>
                <div class="w-100">
                <span onmouseout="hide_description<?php echo $allproduct['entity_id']?>()" onmouseover="show_description<?php echo $allproduct['entity_id']?>()" class="txt_more_info"><img class="img-fluid" src="/magento2/media/icon/info_img.png" /> En Savoir plus</span>
                </div>
                <script type="text/javascript">
                    function show_description<?php echo $allproduct['entity_id']?>() {
                       document.getElementById("desc_<?php echo $allproduct['description']; ?>").style.display="block";
                    } function hide_description<?php echo $allproduct['entity_id']?>() {
                       document.getElementById("desc_<?php echo $allproduct['description']; ?>").style.display="none";
                    }
                </script>
                 <?php } ?>
                <?php $postParams = $block->getAddToCartPostParams($allproduct); ?>
                <form data-role="tocart-form" data-product-sku="<?php echo $allproduct['sku'] ?>" action="<?= /* @NoEscape */ $postParams['action'] ?>" method="post">
                    <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
                    <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                    <input type="hidden" name="form_key" value="<?php echo $block->getFormKey() ?>" />
                    <button class="d-flex" type="submit"
                            title="Ajouter au panier"
                            class="cart_eclated action tocart primary">
                        <span class="txt_cart_eclated">Ajouter au panier</span>
                    </button>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            window.onload = function(){
                document.getElementsByClassName('rowed')[0].style.display ="none";
            }

        </script>
    <?php }
}else{ ?>
   <script type="text/javascript">
       window.onload = function(){
       document.getElementsByClassName('eclatedsss')[0].style.display ="block";
       }
   </script>

<?php  } ?>
