<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<div id="eclated_lists">
    <div class="container">
        <div class="row m-4">
            <div class="col-12 text-center">
                <button class="btn btn-info" onclick="home()">Liste</button>
            </div>
        </div>
        <div  class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">reference</th>
                    <th scope="col">Nom du fichier originale</th>
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody id="all_content_api">
                </tbody>
            </table>
        </div>
        <div id="all_content_params" class="row text-center">
        </div>
    </div>
    <?php echo $block->getbrandbyproduct(2059); ?>
    <script type="text/javascript">
        window.onload = ready_index;
            function ready_index() {
                jQuery.ajax({
                    type: "GET",
                    url: "http://www.prestashop16123.randevteam.com/api.php",
                    success: function (data) {
                        if (data != "0 results") {
                            let data_api = JSON.parse(data);
                            for (let i = 0; i < data_api.length; i++) {
                                var to_appedn = "<tr><td>" + data_api[i].img + "</td><td id='original_filename_" + data_api[i].img + "'></td><td><input type='hidden' id='" + i + "' value='" + data_api[i].img + "'><img width='70px;' height='70px' class='img-fluid' src='http://www.prestashop16123.randevteam.com/" + data_api[i].img + "'></td><td><button onclick='get_by_img(" + i + ")' class='btn btn-info pt-2 pb-2'>Parametrer</button></td></tr>";
                                // $("#all_content_api").html($("#all_content_api").html() + );
                                document.getElementById('all_content_api').innerHTML = document.getElementById('all_content_api').innerHTML + to_appedn;
                                get_file_true_name(data_api[i].img);
                            }
                        } else {
                            var to_appedn = "<h3>Pas de donnée recuperé</h3>";
                            document.getElementById('all_content_api').innerHTML = document.getElementById('all_content_api').innerHTML + to_appedn;
                        }

                    },
                    error: function (data) {
                        alert(data);
                    }
                });
            }
            function home() {
                document.getElementById('all_content_api').innerHTML ="";
                document.getElementById('all_content_params').innerHTML ="";
                jQuery.ajax({
                    type: "GET",
                    url: "http://www.prestashop16123.randevteam.com/api.php",
                    success: function (data) {
                        if (data !="0 results"){
                            let data_api = JSON.parse(data);
                            for (let i = 0; i < data_api.length; i++) {
                                var to_appedn = "<tr><td>" + data_api[i].img + "</td><td id='original_filename_"+data_api[i].img+"'></td><td><input type='hidden' id='" + i + "' value='" + data_api[i].img + "'><img width='70px;' height='70px' class='img-fluid' src='http://www.prestashop16123.randevteam.com/" + data_api[i].img + "'></td><td><button onclick='get_by_img(" + i + ")' class='btn btn-info pt-2 pb-2'>Parametrer</button></td></tr>";
                                // $("#all_content_api").html($("#all_content_api").html() + );
                                document.getElementById('all_content_api').innerHTML = document.getElementById('all_content_api').innerHTML + to_appedn;
                                get_file_true_name(data_api[i].img);
                            }
                        }else{
                            var to_appedn = "<h3>Pas de donnée recuperé</h3>";
                            document.getElementById('all_content_api').innerHTML = document.getElementById('all_content_api').innerHTML + to_appedn;
                        }

                    },
                    error: function (data) {
                        alert(data);
                    }
                });
            }
        function get_by_img(img){
            if(typeof jQuery == 'function'){
                jQuery.ajax({
                    type: "POST",
                    url: "http://www.prestashop16123.randevteam.com/post_api.php",
                    // data: 'img=' + $("#"+img).val(),
                    data: 'img=' + document.getElementById(img).value,
                    success: function (datas) {
                        let data_api_id = JSON.parse(datas);
                        console.log(data_api_id);
                        if (data_api_id.length > 0) {
                            // $("#all_content_api").html("");
                            document.getElementById('all_content_api').innerHTML ="" ;
                            var img_to_show ="<div class='w-100'><img class='img-fluid' src='http://www.prestashop16123.randevteam.com/"+data_api_id[0].id_save+"'></div><div class='w-100 text-center p-4 pb-4'><h3>Assigner les id</h3></div><div style='font-size:15px;font-weight: bold' class='w-100'>Id du produit à reparer: <input placeholder='Id produit a reparer' type='number' value='' class='form-control' id='produit_repair_id'></div><div class='w-100 row p-3'><div style='font-size:15px;font-weight: bold' class='col-2 text-center'>Numero vue éclatée:</div><div style='font-size:15px;font-weight: bold' class='col-8 text-center'>Id pièce détachée</div></div>";
                            // $("#all_content_params").html($("#all_content_params").html()+img_to_show);
                            document.getElementById('all_content_params').innerHTML = document.getElementById('all_content_params').innerHTML + img_to_show;
                            for(let i = 0; i < data_api_id.length; i++){
                                var to_appedone = "<div class='col-12 pb-4'><div class='row'><div style='font-size:15px;font-weight: bold' class='col-2'>"+data_api_id[i].WordText+"</div><input type='hidden' id='pos_left_"+data_api_id[i].WordText+"' name='pos_left' value='"+data_api_id[i].pos_Left+"' /><input type='hidden' id='pos_top_"+data_api_id[i].WordText+"' name='pos_top' value='"+data_api_id[i].pos_Top+"' /><input class='to_getted"+i+"' type='hidden' value='"+data_api_id[i].id_save+"'><div class='col-8'><input placeholder='Id du produits' type='number' value='' class='form-control' id='"+data_api_id[i].WordText+"'></div><div class='col-2'><button onclick='submit_prod_number("+data_api_id[i].WordText+")' class='btn btn-success'>Valider</button></div></div></div>";
                                // $("#all_content_params").html($("#all_content_params").html()+to_appedone);
                                document.getElementById('all_content_params').innerHTML = document.getElementById('all_content_params').innerHTML +to_appedone;

                                jQuery.ajax({
                                    type: "POST",
                                    url: "http://www.magento1.randevteam.com/get_value_input.php",
                                    data: 'id_number=' + data_api_id[i].WordText+"&img="+data_api_id[i].id_save,
                                    success: function (datas) {
                                        // $("#"+data_api_id[i].WordText).val(datas)
                                        if ((datas) && datas !=undefined && datas != ""){
                                            var prs = JSON.parse(datas);
                                            document.getElementById(data_api_id[i].WordText).value = prs.url_product;
                                            document.getElementById("produit_repair_id").value = prs.id_reparer;
                                        }else{

                                        }
                                    },
                                    error: function (data) {

                                    }
                                });

                            }
                        }
                    },
                    error: function (data) {
                        alert("data");
                    }
                });
            }
        }

        function submit_prod_number(id_line) {
            if(typeof jQuery == 'function'){
                // var url_value = $("#"+id_line).val();
                var url_value = document.getElementById(id_line).value;
                var id_number = id_line;
                var id_reparer = document.getElementById("produit_repair_id").value;
                var pos_left = document.getElementById("pos_left_"+id_line).value;
                var pos_top = document.getElementById("pos_top_"+id_line).value;
                img = document.getElementsByClassName('to_getted0')[0].value;
                var to_save = 'id_number=' + id_number+"&url_product="+url_value +"&img="+img+"&id_reparer="+id_reparer+'&pos_top='+pos_top+'&pos_left='+pos_left;
                // img = $(".to_getted0").val();

                jQuery.ajax({
                    type: "POST",
                    url: "http://www.magento1.randevteam.com/save_one_by_one.php",
                    data:to_save ,
                    success: function (datas) {
                        if (datas == "1"){
                            alert("ok");
                        }else{
                            alert(datas);
                        }
                    },
                    error: function (data) {
                        alert(data);
                    }
                });
            }
        }
            function get_file_true_name(id_save) {
                jQuery.ajax({
                    type: "POST",
                    url: "http://www.prestashop16123.randevteam.com/get_original_file_by_id_save.php",
                    data:"id_save="+id_save ,
                    success: function (datas) {
                        if (datas !=""){
                            document.getElementById('original_filename_'+id_save).innerHTML = datas;
                        }
                    },
                    error: function (data) {
                        alert(data);
                    }
                });
            }
    </script>
</div>