<?php $obj =  $block->getAll(); ?>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<div>
    <div class="container">
        <div  class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Image url</th>
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody id="">
                <?php foreach ($obj as $ob){ ?>
                    <tr>
                        <td><?php echo $ob['img']; ?></td>
                        <td>
                            <img width='70px;' height='70px' class='img-fluid' src='http://www.prestashop16123.randevteam.com/<?php echo $ob['img']; ?>'>;
                        </td>
                        <td><button class='btn btn-info pt-2 pb-2'>Parametrer</button></td>
                    </tr>
                <?php } ?>
                </tbody>
            </table>
        </div>
        <div id="all_content_params" class="row text-center">
        </div>
    </div>
</div>