@media only screen and (max-width: 479px) {
  .email-summary h1 {
    font-size: 24px !important;
  }
  .order-details .address-details,
  .order-details .method-info {
    display: block;
    padding: 10px 0 !important;
    width: auto !important;
  }
  .order-details .address-details h3,
  .order-details .method-info h3 {
    margin-bottom: 5px !important;
    margin-top: 0 !important;
  }
  .button .inner-wrapper {
    width: 100% !important;
  }
  .button .inner-wrapper td a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 639px) {
  html,
  body {
    background-color: #fff;
    width: 100% !important;
  }
  .main {
    max-width: 100% !important;
    min-width: 240px;
    width: auto !important;
  }
  .rma-items td,
  .rma-items th {
    font-size: 12px !important;
    padding: 5px !important;
  }
}
body,
table,
td,
a {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
}
table,
td {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}
a:visited {
  color: #1979c3 !important;
  text-decoration: none !important;
}
a:hover {
  color: #006bb4 !important;
  text-decoration: underline !important;
}
a:active {
  color: #ff5501 !important;
  text-decoration: underline !important;
}
.no-link a {
  color: #333 !important;
  cursor: default !important;
  text-decoration: none !important;
}
.button .inner-wrapper td:hover {
  background-color: #006bb4 !important;
}
.button .inner-wrapper a:active,
.button .inner-wrapper td:active {
  background-color: #006bb4 !important;
}
.button a:active,
.button a:hover,
.button a:visited {
  border: 1px solid #006bb4;
  color: #fff !important;
  text-decoration: none !important;
}
.email-items {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
/*# sourceMappingURL=email.css.map */