// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .pages {
        .lib-pager();

        .action {
            @_shadow: inset 0 1px 0 0 @color-white, inset 0 -1px 0 0 fade(@border-color__base, 30);

            .lib-css(box-shadow, @_shadow);
            border-radius: 3px;
            padding: 0 8px;

            &.previous {
                margin-right: 8px;
            }

            &.next {
                margin-left: 8px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .pages {
        & &-items {
            display: block;
            padding: 2px 40px 0;
            position: relative;
            white-space: normal;
            z-index: 1;
        }

        &-item-previous {
            left: 0;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        &-item-next {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }
}

/*CODE 16 Mars*/
.maincontent{
page-title-wrapper{
    font-family: 'Muli-ExtraBold';
    font-size: 20 px;
    }
}

#shopping-cart-table{
    thead{
        font-family: 'Muli-Bold';
        color: #ffffff;
         background-color: #444444;
            width:0%;
            tr{
                font-size: 16px;
                     text-transform: uppercase; 
                        .col{
                            &.item{
                                span{
                                        text-align: center !important;
                                    }
                                }
                            }
                        }
                } 
}

//border
#shopping-cart-table{
    .cart{
        &.items{
            &.data{
                &.table{
                        .cart{
                            .item{
                                .item-info{
                                      .col{
                                            &.item{ 
                                                margin-top: 20px !important;
                                                margin-bottom: 20px;
                                                border-collapse : separate;
                                                border-spacing: 10px; 
                                                border-right:1px solid #d3d2d2 !important;
                                            } 
                                       }
                                    }
                                }                     
                            }                     
                        }
                }
            }
        }
    }

    

#shopping-cart-table{
    a {
        &.product-item-photo{
                border: 1px solid #d3d2d2 !important;
        }
    }
}

.checkout-cart-index{
    .page-title-wrapper{
        display:none;
    }
}


.recapitulatifDeCommande{
    h1{
        font-family: 'Muli-ExtraBold';
        text-align : center;
        font-size: 20px;
        text-transform: uppercase;
        color: #444444; 
    }
}
/****MOTEUR BOSCH***/
#shopping-cart-table{
    .product-item-details {
        .product-item-name{  
            a{
                padding-left: 20px !important;
                color: #454445;
                font-size: 20px !important;
                font-family: 'Muli-ExtraBold';        
            }
        }
    }
}

.cart{
    .table-wrapper{ 
        .product-item-details{
            padding-left: 50px;

        }
    }
}   
             






