// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product.data.items {
        .lib-data-accordion();
        border-bottom: @tab-control__border-width solid @tab-control__border-color;
        margin-bottom: @indent__base;
        margin-left: -@layout__width-xs-indent;
        margin-right: -@layout__width-xs-indent;

        .item.title {
            a {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: @font-size__base,
                @_icon-font-line-height: @icon-font__line-height,
                @_icon-font-color: @icon-font__color,
                @_icon-font-color-hover: @icon-font__color-hover,
                @_icon-font-color-active: @icon-font__color-active,
                @_icon-font-margin: @icon-font__margin,
                @_icon-font-vertical-align: @icon-font__vertical-align,
                @_icon-font-position: after,
                @_icon-font-display: false
                );

                &:after {
                    position: absolute;
                    right: @accordion-control__padding-right;
                    top: @accordion-control__padding-top;
                }
            }

            &.active a {
                &:after {
                    content: @icon-up;
                }
            }
        }

        .value p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .table-wrapper {
            margin: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product.data.items {
        .lib-data-tabs();
        border-bottom: 0;
        margin-left: 0;
        margin-right: 0;

        .item.title a {
            &:after {
                display: none;
            }
        }
    }
}



/************************beta code*****************************/
.catalogsearch-result-index{
    .page-footer{
        .mt-5{
            .content_text{
                display: none;
                .container{
                    .row{
                        &.outiollage{
                            display: none;
                        }
                        &.piscine{
                            display: none;
                        }
                        &.jardinnage{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.checkout-cart-index{
    .page-footer{
        .mt-5{
            .content_text{
                display: none;
                .container{
                    .row{
                        &.outiollage{
                            display: none;
                        }
                        &.piscine{
                            display: none;
                        }
                        &.jardinnage{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.vesbrand-brand-view{
    .page-footer{
        .mt-5{
            .content_text{
                display: none;
                .container{
                    .row{
                        &.outiollage{
                            display: none;
                        }
                        &.piscine{
                            display: none;
                        }
                        &.jardinnage{
                            display: none;
                        }
                    }
                }
            }
        }

    }
}
.container{
    .row{
        &.eclatedsss{
            .col-7{
                border-left: dashed 1px #e4e4e4;
                padding-left: 31px!important;
                padding-right: 0px!important;
                .head_list{
                    margin-left: -15px;
                    span{
                        &.product_name{
                            color: #444444;
                            text-transform: uppercase;
                            font-size: 18px;
                            font-family: Muli-ExtraBold!important;
                        }
                    }
                    span{
                        &.skui{
                            color: #666666;
                            text-transform: uppercase;
                            font-size: 18px;
                            font-family: Muli-Bold!important;
                        }
                    }
                }
                .row{
                    &.rowed1{
                        border: solid 1px #e4e4e4;
                        padding-bottom: 10px;
                        padding-top: 15px;
                        margin-top: 15px;
                        .col-3{
                            &.product_img_cnt{
                                img{
                                    margin-bottom: 5px;
                                }
                                span{
                                    &.d-absolute{
                                        font-family: Verdana!important;
                                        font-size: 13px;
                                        color: #444444;
                                        padding: 2px;
                                        border-radius: 20px;
                                        background: #e9e9e9;
                                    }
                                }
                            }
                        }
                        .col-6{
                            .w-100{
                                &.product_namess{
                                    font-size: 18px;
                                    font-family: Muli-ExtraBold!important;
                                    color: #444444;
                                }
                                &.product_ref{
                                    .ref{
                                        font-family: Muli-Bold!important;
                                        font-size: 16px;
                                        color: #444444;
                                    }
                                    .ref_val{
                                        font-family: Muli-Bold!important;
                                        color: #666666;
                                        font-size: 17.92px;
                                    }
                                }
                            }
                            .row{
                                div{
                                    &.more_info{
                                        &.w-100{
                                            position: absolute;
                                            z-index: 3;
                                            box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
                                            display: none;
                                            padding: 10px;
                                            bottom: -30px;
                                            left: 135px;
                                            background: white;
                                        }
                                    }
                                }
                                .col-5{
                                    &.d-flex{
                                        .w-100{
                                            &.product_ref{
                                                img{
                                                    width: 100%;
                                                    height: auto;
                                                    align-self: center;
                                                    margin-left: 2px;
                                                    margin-top: 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .col-7{
                                    padding-right: 15px!important;
                                    padding-left: 15px!important;
                                    border-left: none!important;
                                    .stock_status{
                                        margin-top: 10px;
                                        .stock_txt{
                                            font-size: 11px;
                                            color: #999999;
                                            font-family: Verdana!important;
                                        }
                                    }
                                    span{
                                        &.livraison_txt{
                                            font-family: Verdana!important;
                                            font-size: 11px;
                                            color: #777777;
                                        }
                                    }
                                }
                            }

                        }
                        .col-3{
                            .product_price{
                                span{
                                    &.price_txt{
                                        font-family: Muli-ExtraBold!important;
                                        font-size: 30px;
                                        color: #444444;
                                    }
                                }
                                sup{
                                    &.ttceuro{
                                        color: #888888;
                                        top: -1.5em!important;
                                        font-size: 15px;
                                        font-family: Muli-ExtraBold!important;
                                    }
                                }
                            }
                            .w-100{
                                span{
                                    &.txt_more_info{
                                        color: #777777;
                                        font-size: 10px;
                                        font-family: Verdana!important;
                                    }
                                }
                            }
                            form{
                                button{
                                    font-family: Muli-ExtraBold!important;
                                    font-size: 13px;
                                    padding: 6px!important;
                                    margin-left: -9px;
                                    text-transform: uppercase;
                                    margin-top: 30px;
                                    border-radius: 10px;
                                    background: #ffd829!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.container{
    .row{
        &.eclatedsss{
            .col-7{
                .row{
                    &.rowed1{
                        .col-6{
                            .row{
                                .col-7{
                                    .stock_status{
                                        .stock_txt::before {
                                            content: "\2713";
                                            color: #8cc768;
                                            font-size: 2.25rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.catalog-product-view{
    .vue_eclat{
        .row{
            .col-lg-8{
                &.d-flex{
                    span{
                        &.vue{
                            padding-left: 5px;
                            align-self: center;
                            font-family: Muli-SemiBold !important;
                            font-size: 11px !important;
                            text-transform: uppercase;
                            color: #888888;
                        }
                        &.eclat{
                            padding-left: 2px !important;
                            align-self: center;
                            font-family: Muli-ExtraBold !important;
                            font-size: 11px !important;
                            text-transform: uppercase;
                            color: #888888;
                        }
                    }
                }
            }
            .col-lg-4{
                &.d-flex{
                    img{
                        margin-left: auto;
                        position: relative;
                        left: 15px;
                    }
                }
            }
        }
    }
}
.head_list{
    span{
        &.product_name::before {
            position: relative !important;
            background: #36b0d2 !important;
            content: "\f067" !important;
            font-family: "Fontawesome" !important;
            color: #36b0d2 !important;
            font-weight: normal !important;
            font-size: 6px !important;
            top: -3px !important;
            right: 0 !important;
            border-radius: 60px !important;
            padding: 3px !important;
            padding-left: 6px !important;
            margin-right: 10px !important;
        }
    }
}

