@font-face {
    font-family: 'Muli-BoldItalic';
    src: url('../font/Muli/static/Muli-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-Black';
    src: url('../font/Muli/static/Muli-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-BlackItalic';
    src: url('../font/Muli/static/Muli-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-Bold';
    src: url('../font/Muli/static/Muli-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-ExtraBold';
    src: url('../font/Muli/static/Muli-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-ExtraBoldItalic';
    src: url('../font/Muli/static/Muli-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-Italic';
    src: url('../font/Muli/static/Muli-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-SemiBold';
    src: url('../font/Muli/static/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-SemiBoldItalic';
    src: url('../font/Muli/static/Muli-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-Medium';
    src: url('../font/Muli/static/Muli-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-MediumItalic';
    src: url('../font/Muli/static/Muli-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-Light';
    src: url('../font/Muli/static/Muli-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-LightItalic';
    src: url('../font/Muli/static/Muli-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-Regular';
    src: url('../font/Muli/static/Muli-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-ExtraLightItalic';
    src: url('../font/Muli/static/Muli-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli-ExtraLight';
    src: url('../font/Muli/static/Muli-ExtraLight.ttf') format('truetype');
}

.header-content-info{
    display: none;
}

.block-search{
    float: left!important;
    padding-left: 0!important;
}

.expert-mot{

}

.cont-slogan{
    font-size: 15px;
    font-family:'Muli Bold';
}
#expert-mot, #piecedet-mot{
    color: rgb(54, 176, 210);
}
.cab_home_image_block p{
    font-size: 13px;
}
.title_rep{
    padding-top: 15px;
    text-transform: uppercase;
}
.bg-default{
    background-color: #36b0d2;
}
.bg-default .col-lg-7{
    padding-top: 50px   ;
}
.bg-default .text-bold{
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
.after_bold{
    font-size: 16px;
}
.text-bold-big{
    padding-top: 25px;
}
.para-ecla{
    padding-top: 25px;
    font-size: 15px;
}
.btn-plus{
    border: solid 2px white;
    border-radius: 5px;
    width: 112px;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 11px;
}
.class_bolder{
    font-size: 16px;
    text-transform: uppercase;
}
.under_bolder{
    font-size: 13px;
}
.engage_text{
    font-size: 23px;
    text-align: center;
}
.engage_textdown{
    font-size: 15px;
    text-align: center;
}
.container_blog{
    height: 380px;
}

.up_cont_one,.right_blog_cont,.sub_container_blog, .left_blog_cont{
    height: 100%;
}
.up_cont_one_sub2,.up_cont_one_sub1,.up_cont_two_sub2, .up_cont_two_sub1{
    height: 50%;
}
.footer-links{
    background-color: #444444!important;
    padding-top:50px;
    padding-bottom: 50px;
    margin-top: 100px!important;
}
.link_footer{
    color: white;!important;
    text-align: left!important;
}
.col_footer{
    border-left: solid 1px white;
}
.link_footer_a{
    color: white;
    text-decoration: none;
}
.link_footer_a:visited{
    color: white;
    text-decoration: none;
}
.page-wrapper{
padding-left: 0!important;
padding-right: 0!important;
}
#maincontent{
    padding-left: 0!important;
    padding-right: 0!important;
}
.page-footer{
    padding-bottom: 0!important;
}
.univ-cont, .contact-cont, .account-cont{
    padding: 0!important;
}
.account-cont{
    display: flex;
}
.account-cont li{
    padding-top: 10px;
}
.minicart-wrapper{
    float: left!important;
}
.page-footer{
    background-color: white!important;
}
.contain_img_txt{
    align-self: center;
}
.row_cont_banner{
    background-color: rgb(68, 68, 68);
}
.sub-txt-ban, .paragraph-txt-ban{
    color: white;
}
.txt_blue{
    color: rgb(54, 176, 210);
}
.page-products #maincontent{
    padding-left: 50px!important;
    padding-right: 50px!important;
}
