<div class="container">
    <div class="row">
    <?php if (isset($_GET['runnedscript'])){ ?>
        <?php   $block->importall(); ?>
    <?php } ?>
    </div>
    <script>
        window.onload = checklink;
        function checklink(){
           var current_url = window.location.href;
           alert(current_url);
           var is_on = current_url.split('runnedscript');
           // if(is_on.length >1){
           //     alert('on');
           // }else {
           //     alert('off');
           // }
        }
        function launch_recup() {
            var currect_link = window.location.href;
            var to_go = currect_link.substring(0, currect_link.length - 1)+"?runnedscript=true";
            window.location.href = to_go;
        }
    </script>
    <button onclick="launch_recup()" class="btn btn-info">Lancer</button>
</div>