<div class="row">
    <div class="col-lg-4 d-flex dropdown">
        <span class="container_univer_txt d-flex">
            <a class="link_univers" style="margin-left: 2px; margin-right: 2px;"
               href="
                 <?php
                   $categoryId = 2;
                   $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                   $category = $_objectManager->create('Magento\Catalog\Model\Category')
                       ->load($categoryId);
                    echo $categoryurl = $category->getUrl();
                  ?>
                ">
                <?php
                $categoryId = 2;
                $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $category = $_objectManager->create('Magento\Catalog\Model\Category')
                    ->load($categoryId);
                echo $category->getName();
                ?>
            </a>
        </span>
        <div class="dropdown-content">
            <div class="row pmwb">
                <?php
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $catId = 2; // Parent Category ID
                $subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
                $subcats = $subcategory->getChildrenCategories();
                $_helper = $this->helper('Magento\Catalog\Helper\Output');
                ?>
                <?php
                $num= 0;
                foreach ($subcats as $subcat) {
                    $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
                    $_outputhelper = $this->helper('Magento\Catalog\Helper\Output');
                    $subcaturl = $subcat->getUrl();
                    $num = $num +1;
                    $_imgHtml = '';
                    if ($_imgUrl = $_category->getImageUrl()) {
                        $_imgHtml = '<img src="' . $_imgUrl . '" width="100" height="80" />';
                        $_imgHtml = $_outputhelper->categoryAttribute($_category, $_imgHtml, 'image');
                        /* @escapeNotVerified */

                    }
                    ?>
                    <?php if ($num == 1) { ?>
                        <div class="col-lg-4">
                            <a class="d-flex outil"
                               href="
                                   <?php
                                       $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                       $catId = 11; // Parent Category ID
                                       $subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
                                       $subcatoutil = $subcategory->getChildrenCategories();
                                       $_helper = $this->helper('Magento\Catalog\Helper\Output');
                                       foreach ($subcatoutil as $subcatoutille){
                                           echo $subcatoutille->getUrl();
                                       }
                                   ?>
                                ">
                                <?php echo $_imgHtml; ?>
                                <span class="univ_text"><?php echo $subcat->getName(); ?></span>
                            </a>
                        </div>
                    <?php }else if ($num == 2){ ?>
                        <div class="col-lg-4 spa"><a class="d-flex piscine"
                                href="
                                    <?php
                                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                        $catId = 63; // Parent Category ID
                                        $subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
                                        $subcatpiscin = $subcategory->getChildrenCategories();
                                        $_helper = $this->helper('Magento\Catalog\Helper\Output');
                                        foreach ($subcatpiscin as $subcatpiscine){
                                            echo $subcatpiscine->getUrl();
                                        }
                                    ?>
                                ">
                                <?php echo $_imgHtml;?>
                                <span class="univ_text"><?php echo $subcat->getName(); ?></span>
                            </a>
                        </div>
                    <?php }else if ($num == 3){ ?>
                        <div class="col-lg-4"><a class="d-flex jardin"
                                href="
                                    <?php
                                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                        $catId = 7; // Parent Category ID
                                        $subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
                                        $subcatjardin = $subcategory->getChildrenCategories();
                                        $_helper = $this->helper('Magento\Catalog\Helper\Output');
                                        foreach ($subcatjardin as $subcatjardine){
                                            echo $subcatjardine->getUrl();
                                        }
                                    ?>
                                 
                                ">
                                <?php echo $_imgHtml;?>
                                <span class="univ_text outjardin"><?php echo $subcat->getName(); ?></span>
                            </a>
                        </div>
                    <?php } ?>

                <?php } ?>
            </div>
        </div>
    </div>
    <div class="col-lg-4 d-flex dropdown"><span class="container_univer_txt d-flex"><a class="link_univers" style="margin-left: -4px; margin-right: 4px;" href=" http://www.magento1.randevteam.com/magento2/index.php/brand/les-marques-cabatho.html">Nos Marques</a></span>
        <div class="dropdown-content" style="left: -487px!important;">
            <div class="row" style="padding-top: 30px; padding-bottom: 30px!important; margin-left: 0px!important; width: 1184px; margin-top: 0px!important; height: auto; background: rgba(255, 255, 255, 0.96)!important;">
                <div class="col-lg-2"><img src="http://www.magento1.randevteam.com/magento2/media/icon/az.png"></div>
                <div class="col-lg-10">
                    <div class="row" style="margin-left: -90px!important; width: 100%!important; margin-top: 0px!important; height: auto; background: transparent!important;">
                        <?php
                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                            $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
                            $connection = $resource->getConnection();
                            $brandAssocTableNAme = $resource->getTableName('ves_brand_product');
                            $brandTableName = $resource->getTableName('ves_brand');
                            $sql = "SELECT * FROM `ves_brand` ORDER BY name ASC";
                            $result = $connection->fetchAll($sql);
                            $last= '';
                            $i = 0;
                            foreach ($result as $resulat){ ?>
                                <?php $firstCharacter = substr($resulat['name'], 0, 1); ?>
                                    <?php
                                        if ($firstCharacter == $last ){
                                        $i++;
                                    ?>
                                        <div style="Display: none;" id="<?php echo $firstCharacter.$i ?>">
                                            <div class="content">
                                                <a href="http://www.magento1.randevteam.com/magento2/index.php/brand/<?php echo $resulat['url_key']; ?>.html">
                                                    <?php echo $resulat['name']; $last = substr($resulat['name'], 0, 1); ?>
                                                </a>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                        
                                                var firstDivContent = document.getElementById('<?php echo $last ?>');
                                                var secondDivContent = document.getElementById('<?php echo $firstCharacter . $i ?>');
                                                firstDivContent.innerHTML = firstDivContent.innerHTML + secondDivContent.innerHTML;
                                        </script>
                                    <?php }else{ ?>
                                        <div class="col-1">
                                            <h4 class="title"><?php echo $firstCharacter; ?></h4>
                                            <div class="marge_content" id="<?php echo $firstCharacter; ?>">
                                                <div class="content">
                                                    <a href="http://www.magento1.randevteam.com/magento2/index.php/brand/<?php echo $resulat['url_key']; ?>.html">
                                                        <?php echo $resulat['name']; $last = substr($resulat['name'], 0, 1); ?>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    <?php } ?>
                            <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 d-flex dropdown"><span class="container_univer_prod d-flex"><a class="link_univers" href="http://www.magento1.randevteam.com/magento2/index.php/gear/bags.html">Nos Produits</a></span>
        <div class="dropdown-content" style="left: -622px!important;">
            <div class="row" style="padding-top: 30px; padding-bottom: 30px!important; margin-left: 0px!important; width: 1184px; margin-top: 0px!important; height: auto; background: rgba(255, 255, 255, 0.96)!important;">
                <div class="col-lg-2"><img src="http://www.magento1.randevteam.com/magento2/media/icon/az.png"></div>
                <div class="col-lg-10">
                    <div class="row" style="margin-left: -90px!important; width: 100%!important; margin-top: 0px!important; height: auto; background: transparent!important;">
                        <?php
                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                        $catId = 66; // Parent Category ID
                        $subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
                        $subcatattr = $subcategory->getChildrenCategories()->addAttributeToSort('name', 'asc');
                        $_helper = $this->helper('Magento\Catalog\Helper\Output');
                        ?>
                            <?php
                            $lastget = '';
                            $is = 0;
                            foreach ($subcatattr as $subcat) {
                                $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
                                $_outputhelper = $this->helper('Magento\Catalog\Helper\Output');
                                $subcaturl = $subcat->getUrl();
                                $_imgHtml = '';
                                if ($_imgUrl = $_category->getImageUrl()) {
                                    $_imgHtml = '<img src="' . $_imgUrl . '" />';
                                    $_imgHtml = $_outputhelper->categoryAttribute($_category, $_imgHtml, 'image');
                                    /* @escapeNotVerified */

                                }
                                ?>
                                <?php $firstCharacterget = substr($subcat->getName(), 0, 1); ?>
                                <?php
                                     if ($firstCharacterget == $lastget ){
                                    $is++;
                                ?>
                                    <div style="Display: none;" id="<?php echo $firstCharacterget . $firstCharacterget .$is ?>">
                                        <div class="content">
                                            <a href="<?php echo $subcaturl; ?>">
                                                <?php echo $subcat->getName(); $lastget = substr($subcat->getName(), 0, 1); ?>
                                            </a>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        var firstDivContent1 = document.getElementById('<?php echo $lastget.$lastget ?>');
                                        var secondDivContent1 = document.getElementById('<?php echo $firstCharacterget . $firstCharacterget .$is ?>');
                                        firstDivContent1.innerHTML = firstDivContent1.innerHTML + secondDivContent1.innerHTML;
                                    </script>
                                <?php }else{ ?>
                                    <div class="col-1">
                                        <h4 class="title"><?php echo $firstCharacterget; ?></h4>
                                        <div class="marge_content"  id="<?php echo $firstCharacterget.$firstCharacterget; ?>">
                                            <div class="content">
                                                <a href="<?php echo $subcaturl; ?>">
                                                    <?php echo $subcat->getName(); $lastget = substr($subcat->getName(), 0, 1); ?>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                <?php } ?>
                            <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function changeNom()
    {
        
            if(document.getElementById('top-cart-btn-checkout').text === "Commander")
            {
                change.text = "Valider commande";
            }
            else{
                change.text = "Comm";
            }
    }
    window.onload = changeNom;

</script>
