<div class="row">
    <div class="col-lg-12 text-center">
        <h3>QUEL PRODUIT SOUHAITEZ VOUS REPARER ?</h3>
        <p>trouvez votre pièce parmis nos univers</p>
    </div>
</div>
<div class="row">
<?php
// get categories sorted by category 'name'
$categories = $block->getCategoryCollection(true, false, 'Produits', false,"Produits");
foreach ($categories as $category) {
    if ($category->getImageUrl() !="" && $category->getImageUrl() != null){
        ?>
        <div class="col-lg-3">
            <div class="w-100 text-center">
               <?php echo $category->getName(); ?> <br/>
            </div>
<div class="w-100 text">
            <img src="<?php echo $category->getImageUrl(); ?>" />";
</div>
        </div>
<?php }} ?>

</div>
